@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
    font-family: 'Roboto', sans-serif;

}
nav{
    color: rgb(8, 1, 51) ;
}
.container1{
    background-color: pink;
    color: rgb(8, 1, 51);
    /* color: white; */
}
.navmain{
    margin: 10px 20px;
}
.nav1{
    margin: 0 20px;
}